<form [formGroup]="eventsForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
  <mat-card class="events-card">
    <mat-card-header>
      <mat-card-title>Events Search</mat-card-title>
      <mat-form-field class="full-width">
        <input type="text"
               placeholder="Поиск"
               matInput
               [value]="search"
               (input)="onChange($event)"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of searched" [value]="option.theme" (click)="openDialog(option)">
            {{ option.theme }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ФИО *" formControlName="nameSurname">
            <mat-error *ngIf="eventsForm.controls['nameSurname'].hasError('required')">
              Поле <strong>обязательно</strong> для заполнения
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Подразделение *" formControlName="department">
            <mat-error *ngIf="eventsForm.controls['department'].hasError('required')">
              Поле <strong>обязательно</strong> для заполнения
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="События *" formControlName="event">
              <mat-option *ngFor="let event of eventCategories" [value]="event.abbreviation">
                {{ event.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="eventsForm.controls['event'].hasError('required')">
              State is <strong>обязательно</strong> для заполнения
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Тема *" formControlName="theme">
            <mat-error *ngIf="eventsForm.controls['theme'].hasError('required')">
              Поле <strong>обязательно</strong> для заполнения
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Содержание *" formControlName="text">
            <mat-error *ngIf="eventsForm.controls['text'].hasError('required')">
              Поле <strong>обязательно</strong> для заполнения
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Дата и время" formControlName="date">
            <mat-error *ngIf="eventsForm.controls['date'].hasError('required')">
              Поле <strong>обязательно</strong> для заполнения
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!eventsForm.valid">Отправить</button>
      <button mat-raised-button color="primary" type="button" (click)="onClear(formDirective)">Очистить</button>
    </mat-card-actions>
  </mat-card>
</form>
